*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 15px;
}
:root{
    --color1:royalblue;
    --color3:grey;
    --bg-color1:#115;
    --bg-color2:#116;

}
body{
    background-color: var(--bg-color2);
}
#header{
    width: 70%;
    text-align: center;
    position: relative;
    margin: 20px auto;
    top: 0; bottom: 0; left: 0; right: 0;
}
#header h1{
    color: var(--color3);
    font-size: xx-large;
    margin-bottom: 20px;
}
#header p{
    color: var(--color3);
    font-size:12px;
    margin-bottom: 10px;
}
.hidden{
    display:none;
}
#box{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(255, 255,255, 0.01);
}
#messageBox{
    margin: 0px auto;
    width: 45%;
    background-color: var(--bg-color2);
    border-radius: 20px;
    padding: 40px 10px 10px 10px;
    text-align: center;
    border: 1px solid var(--color1);
}
#message{
    color: var(--color1);
    font-weight: bolder;
}
#buttons{
   margin-top: 40px;
   text-align: right;
   padding: 0 10px;
}
#close{
   background-color: var(--bg-color1);
   border-radius: 30px;
   padding: 12px 20px;
   color: crimson;
}
#close:hover{
    background-color: var(--bg-color2);
   
 }

#main{
    width: 50%;
    padding: 20px 3%;
    position: relative;
    margin: 10px auto;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color:var(--bg-color2);
}
#main label{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    color: var(--color3);
    text-align: center;
}
#main label input{
    width: 100%;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    height: 50px;
    color: var(--color1);
    background-color: transparent;
    border: 2px solid var(--color1);
}
#main label input:hover{
    border: 2px solid var(--color3);
}

#main label input:active{
    border: 2px solid var(--color3);
}

#main label input:focus{
    border: 2px solid var(--color3);
}
form label a{
    text-align: center;
    margin-top: 20px;
    color: var(--color3);
}
form label a:hover{
    color: white;
}

