*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 15px;
}
body{
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    width: 70%;
    text-align: center;
    position: relative;
    margin: 20px auto;
    top: 0; bottom: 0; left: 0; right: 0;
}
#header h1{
    color: #FFF;
    font-size: xx-large;
    margin-bottom: 20px;
}
#header p{
    color: #FFF;
    font-size:12px;
    margin-bottom: 10px;
}
.hidden{
    display:none;
}
#box{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(255, 255,255, 0.1);
}
#messageBox{
    margin: 0px auto;
    width: 45%;
    background-color: crimson;
    border-radius: 20px;
    padding: 40px 10px 10px 10px;
    text-align: center;
}
#message{
    color: #FFF;
    font-weight: bolder;
}
#buttons{
   margin-top: 40px;
   text-align: right;
   padding: 0 10px;
}
#close{
   background-color: #FFF;
   border-radius: 30px;
   padding: 12px 20px;
   color: crimson;
}
#close:hover{
    background-color: #EEE;
   
 }
#main{
    width: 50%;
    padding: 20px 3%;
    position: relative;
    margin: 10px auto;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(220, 20, 60, 0.9);
}
#main label{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    color: #FFF;
}
#main label input{
    width: 100%;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    height: 50px;
    color: #FFF;
    background-color: transparent;
    border: 2px solid white;
}
#main label input:hover{
    background-color: crimson;
}
#main label input:active{
    background-color: crimson;
}
#main label input:focus{
    background-color: crimson;
}
#main label a{
    display: block;
    text-align: center;
    width: 150px;
    margin-top: 20px;
}
